langchain==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
langchain_community==0.3.27
langchain_chroma==0.2.5
langgraph==0.6.0
pydantic==2.11.7
typing-extensions==4.14.1
fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
chromadb==1.0.15
tqdm==4.67.1
mcp==1.12.2
